.weather-app {
  padding-bottom: 30px;
}

.forecast-container,
.weather-container-weather{
  position: relative;
  padding: 4.4%;
  background: linear-gradient(180deg, rgba(48,150,171,1) 0%, rgba(65,190,204,1) 100%);
  box-shadow: 0 0 25px -2px rgba(0,0,0,0.2);
  border-radius: 15px;
  overflow: hidden;

  //&::before {
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 90%;
  //  opacity: .3;
  //}
}

.weather-container-search {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 70%;
}


.forecast-container {
  background: linear-gradient(180deg, rgb(68, 183, 191) 0%, rgb(88, 202, 200) 100%);
}
.forecast-container_position {
  margin-top: 20px;
}
